doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Home Page
	body 

		h2 Home page

		br
		div
			a(href="/login") Login 

		div
			a(href="/?destroy=true") Logout by same page route 
		div
			a(href="/logout") Logout by /logout route
		