doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title #{title}
	body 

		form(method='POST' action='/login')
			label Username 
			br
			input(type='text' name='username') 
			br

			label Password
			br
			input(type='password' name='password') 
			br
			button() Login

			br
			p 
				span Don't have an account ? 
				a(href='/register') Register

		//- script.
			const form = document.querySelector('form')
			form.addEventListener('submit', async (evt) => {
				evt.preventDefault()

				const formData = new FormData(evt.target)
				const fields = Object.fromEntries(formData)
				console.log(fields)

				const res = await fetch('/login', { method: 'POST' })
				console.log(res)

				//- if(res.redirected) 
				location.href = '/'

			})